*{
    font-family: "Jost", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Fredericka the Great", serif;
}


:root{
    --black: rgb(18, 15, 13);
    --white: rgb(244, 239, 203);
    --green: rgb(42, 203, 147);
    --orange: rgb(229, 105, 23);

}

/* inizio stile navbar  */
.navbar-custom{
    z-index: 10;
    height: 80px;
    width: 100%;

    transition: 0.65s;
    background-color: rgba(18, 15,13, 0.6);
}

.navbar-custom:hover{
    background-color: var(--black);
}



.logo-custom{
   height: 60px;
   padding-left: 12px;
}



.nav-link{
    color: var(--green);
    text-shadow: 1px 1px 2px var(--black),
               -1px -1px 2px var(--black);
    margin: 0 15px;
    font-size: 20px;
    transition: 0.45s;
}

.nav-link:hover{
    color: var(--orange);
}

.nav-link:focus{
    color: var(--orange);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--orange);
}

hr.dropdown-divider{
    border-top:1px solid var(--white);
}

.fa-bars{
    font-size: 40px;
    color: var(--green);
}

.title-in-logo{
    color: var(--white);
    margin: 0;
    text-shadow: 1px 1px 2px var(--orange),
               -1px -1px 2px var(--orange);
    transition: 0.55s;           
}

.title-in-logo:hover{
    color: var(--orange);
}



.dropdown-item{
    color: var(--white);
}
.dropdown-item:hover{
    background-color: var(--green);
}

.show{
    background-color: var(--black);
    color: var(--white);
}

.navbar .container-fluid{
    padding: 0;
}
/* fine stile navbar  */




/* inizio css esterno video  */
header {
  position: relative;
  
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {

  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  opacity: 0.15;
  z-index: 1;
}
/* fine css esterno video  */




/* inizio stile header  */
.custom-video-text{
    color: var(--white);
    padding-bottom:170px ;
    text-shadow: 1px 1px 6px var(--orange),
               -1px -1px 6px var(--orange)
}


/* fine stile header  */

.separator {
  height: 60px;
  background: linear-gradient(to right, transparent, var(--green), transparent);
}



/* stile main  */
/* inizio stile cards  */
.card{
    
    background-color: var(--white);
    color: var(--black);
    margin: 35px;
}

div.card-header{
    background-color: var(--orange);
    color: var(--white);  
}




.container-prodotti{
    min-height: 240vh;
    background: linear-gradient(var(--black )5%, var(--white) 100%);
}


.prodotti{
    min-height: 80vh;
}

.btn{
    
    background-color: var(--black);
    border: 1px solid var(--white);
    font-size: large;
    
}
.btn:hover{
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
    font-size: large;
    
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--white);
    border: 1px solid var(--orange);
    color: var(--orange);
}




.row-prodotto1{
    padding: 0;
    background: url(./media/dida1.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.row-prodotto2{
    padding: 0;
    background: url(./media/dida2.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.row-prodotto3{
    padding: 0;
    background: url(./media/dida3.jpg);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
/* fine stile cards */



/* inizio stile carusel */
.slide1{
    width: 100%;
    height: 110vh;
    background-image: url(./media/piant1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 20px 0px;
}
.slide2{
    width: 100%;
    height: 110vh;
    background-image: url(./media/piant2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 20px 0px;
}
.slide3{
    width: 100%;
    height: 110vh;
    background-image: url(./media/piant3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 20px 0px;
}
.slide4{
    width: 100%;
    height: 110vh;
    background-image: url(./media/piant4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 20px 0px;
}
/* fine stile carusel  */




/* inizio stile accordion  */
.accordion-carusel-wrapper{
    background-color: var(--white);
    color: var(--black);
}

.accordion-carusel-subtitle{
    
    color: var(--green);
    text-shadow: 1px 1px 4px var(--black),
               -1px 1px 4px var(--black);
    padding-left: 80px;           

}
/* fine stile accordion  */





/* inizio stile divider con pulsantone */
.divider-img{
    width: 100%;
    height: 100vh;
    background-image: url(./media/divisore-taglio1.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-text{
    background: rgba(229, 105, 23, 0.25);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 135px 0;
    text-transform: uppercase;
    /* font-size: 30px; */
    font-family:"Fredericka the Great", serif; 
    color: var(--white);
    text-shadow: 1px 1px 8px var(--orange),
               -1px -1px 8px var(--orange);
    transition: 0.75s;
}
.divider-text:hover{
    background: rgba(229, 105, 23, 0.7);

    color: var(--black);
    text-shadow: 1px 1px 0px var(--black),
               -1px -1px 0px var(--black);
}
/* fine stile divider con pulsantone */



/* inizio stile form  */
.form-custom-wrapper{
    color: var(--white);
    background: linear-gradient(rgba(18, 15, 13, 0.3), rgba(18, 15, 13, 0.7)) , url(./media/footer-ending-taglio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* fine stile form  */





/* media query  */
@media (max-width: 768px) {
  .ruota-freccia {
    transform: rotate(90deg); 
  }
}